<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milanix.example.downloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DownloaderTheme" >
        <activity
            android:name="com.milanix.example.downloader.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <!-- Launcher filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Incoming filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.ALTERNATIVE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!-- Service for download tasks -->
        <service
            android:name="com.milanix.example.downloader.service.DownloadService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!-- Provider for downloads, downloaded and downloading content. -->
        <provider
            android:name="com.milanix.example.downloader.data.provider.DownloadContentProvider"
            android:authorities="com.milanix.example.downloader.data.provider.DownloadContentProvider"
            android:exported="false" />

        <!-- Broadcast receiver for actions to be provided in the service -->
        <receiver
            android:name="com.milanix.example.downloader.service.DownloadService$ServiceActionReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for auto start service -->
        <receiver
            android:name="com.milanix.example.downloader.service.receiver.AutoStartReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>